body {
  background-color: rgb(146, 146, 146);
  font-family: sans-serif;
}
.bgr{
  background-color: red;
}
.blue-text {
  color: blue;
}
.white-text {
  color: #fff;
}
.grey-text {
  color: #757575;
}
.blue-side {
  background-color: rgb(36, 32, 255);
  margin: 10px;
  border-radius: 5px;
}
.tags-input-container {
  padding: 0.5em;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}
.tag-item {
  background-color: rgb(218, 216, 216);
  display: inline-block;
  padding: 0.5em 0.75em;
  border-radius: 20px;
}

.tag-item .close {
  height: 20px;
  width: 20px;
  background-color: rgb(48, 48, 48);
  display: inline-block;
  color: #fff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5em;
  font-size: 18px;
  cursor: pointer;
}
.tags-input {
  flex-grow: 1;
  padding: 0.5em 0;
  border: none;
  outline: none;
}

.submit-button {
  background-color: rgb(55, 0, 255);
  font-size: large;
  padding: 0.5em;
  border-radius: 5px;
  width: min(80vw, 180px);
  color: #fff;
  margin-top: 100px;
}

.border-for-inputs {
  border-style: solid;
  border-color: rgb(124, 124, 124);
  background-color: #fff;
  border-width: 1px;
  border-radius: 5px;
}
.radio-border {
  border-style: solid;
  border-color: rgb(124, 124, 124);
  background-color: #fff;
  border-width: 1px;
  border-radius: 5px;
}
.radio-container {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: auto;
  gap: 60px;
  padding: 10px 10px 10px 10px;
  text-align: start;
}
.back-ground-white {
  background-color: #fff;
  border-radius: 5px;
  padding-bottom: 20px;
}
.wrapper {
  height: 100vh; /* full height of the viewport */
  width: 100vw; /* full width of the viewport */
  display: flex; /* enable flexbox */
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}
.comment {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100;
  background-color: rgb(3, 0, 199);
  border-radius: 20px;
  padding: 5px 0px 0px 10px;
  margin: 100px 50px 20px 50px;
}
.image-radius {
  border-radius: 30%;
}
.radio-button-left{
  padding: 15px 15px ;
  float: left;
}
.radio-button-right {
  padding: 15px 15px ;
  float: right;
}
.comment-info{
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 10px;
}
.blue-text-section {
  margin: 80px 0 0 10%;
}